<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet/less" type="text/css" href="双飞翼.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js"></script>
  </head>
  <body>
    <div class="center float">
      <div class="content">中间</div>
    </div>
    <div class="left float">左侧</div>
    <div class="right float">右侧</div>
  </body>
</html>
